# Archivos y carpetas de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Entornos virtuales
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Distribución / empaquetado
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Entornos de desarrollo y editores
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Pruebas y cobertura
tests/
.pytest_cache/
.coverage
htmlcov/

# Temporales de extracción
pdf_extraido.txt
